@CHARSET "UTF-8";
body {
    overflow-y:scroll;
    padding-top: 51px;
    margin-left: 0px;
    margin-top: 0px;
    font-family: "Source Sans Pro","Helvetica Neue",Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-weight: 400;
    font-size: 16px;
}
/*-----nav-----*/
.navbar {
    background-color: #2C3E50;
    color: #ECF0F1;
    font-size: 16px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #34495E;
    color: #ECF0F1;
}
.logo {
    margin-left: 8px;
    font-size: 12px;
    background: url(../../static/index/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 7em auto;
    float: left;
    opacity: .9;
    -webkit-transition: opacity .2s ease 0s;
    transition: opacity .2s ease 0s;
    width: 12.5em;
}
.logo:hover {
    margin-left: 8px;
    font-size: 12px;
    background: url(../../static/index/logo-sel.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 7em auto;
    float: left;
    opacity: .9;
    -webkit-transition: opacity .2s ease 0s;
    transition: opacity .2s ease 0s;
    width: 12.5em;
}
.navbar-collapse {
    float: right;
}