<<<<<<< HEAD
=======
/*Home animation*/

.animate-switch-container {
    position: relative;
    overflow: hidden;
    min-height: 600px;
}

.animate-switch {
    width: 99%;
}

.animate-switch.ng-animate {
    position: absolute;
    width: 100%;
}

.animate-switch.ng-leave, .animate-switch.ng-enter {
    -webkit-transition: 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    -moz-transition: 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    -ms-transition: 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    -o-transition: 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    transition: 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
}

.animate-switch.ng-enter {
    left: -150%;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.animate-switch.ng-enter.ng-enter-active {
    left: 0;
}

.animate-switch.ng-leave {
    left: 0;
}

.animate-switch.ng-leave.ng-leave-active {
    left: -100%;
}

/*Home profile*/

>>>>>>> b03c4bbc6c4147021ce0052d7755564c28b8c335
* {
    font-weight: 100;
    letter-spacing: 1px;
}

.side {
    position: fixed;
    color: #eee;
    left: 0;
    top: 0;
    bottom: 0;
    _position: relative;
    _height: 100%;
    z-index: 10;
    zoom: 1;
    float: left;
    width: 300px;
    padding: 70px 30px;
    margin-right: -300px;
    background-color: #26333d;
}

.main {
    background: #ededed url(/dva-mvn/static/img/texture.png) 0 0 repeat;
    padding-top: 140px;
    margin-left: 300px;
}

.global {
    min-width: 924px;
    overflow: hidden;
    min-height: 680px;
}

.face {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.face img {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 6px 2px #6fdaa1;
}

.nick {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
}

.profile {
    margin-top: 50px;
}

.profile div {
    padding: 3px 30px;
}

.profile div span {
    padding-left: 15%;
    text-align: right;
}

.buttons {
    margin-top: 30px;
    text-align: center;
}

.buttons .btn {
    width: 70%;
    margin-bottom: 10px;
    background: transparent;
    color: white;
}

.buttons .btn:hover {
    background: #6fdaa1;
    border-color: #6fdaa1;
}

.rating {
    text-align: center;
    margin-top: 30px;
}

.rating label {
    font-weight: lighter;
    font-size: x-small;
}

.grade span {
    background: #fff;
    width: 25px;
    color: black;
    height: 25px;
    line-height: 25px;
    display: inline-block;
}

<<<<<<< HEAD
=======
.profile table {
    width: 100%;
    margin: 0 20px;
}

.content {
    display: flex;
}

.content>div {
    flex: 1;
}

.content table {
    width: 90%;
}

.record {
    margin-bottom: 10px;
}

.exercise, .food {
    max-height: 200px;
    width: 49%;
    position: relative;
    padding: 15px 20px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .3));
    -moz-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .3));
    -ms-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .3));
    -o-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .3));
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .3));
}

.food {
    background-color: #fff;
}

.exercise {
    background-color: #6fdaa1;
    color: #fff;
}

.exercise:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    margin: -25px 0 0;
    border-right: 25px solid #6fdaa1;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.caption {
    font-weight: 400;
    text-align: center;
    margin-bottom: 3px;
}

.date {
    text-align: center;
    line-height: 250%;
}

.timeline-wrap {
    overflow-y: auto;
    max-height: 125px;
}

.timeline-wrap td {
    width: 24%;
    text-align: center;
    line-height: 180%;
}

.timeline-wrap td:nth-child(1) {
    width: 15%;
}

td img {
    width: 20px;
}

.glyphicon {
    opacity: 0.5;
}

.glyphicon-remove {
    position: absolute;
    right: 5%;
    top: 20px;
}

.glyphicon-edit {
    position: absolute;
    bottom: 15px;
    right: 5%;
    top: unset;
}

#update-form input, #update-form a, #update-form button {
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .3));
    -moz-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .3));
    -ms-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .3));
    -o-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .3));
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .3));
}

#update-form input:focus {
    -webkit-box-shadow: 2px 2px 5px rgba(102, 175, 233, .6);
    box-shadow: 2px 2px 5px rgba(102, 175, 233, .6);
}

>>>>>>> b03c4bbc6c4147021ce0052d7755564c28b8c335
input.ng-dirty.ng-valid, .has-success {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

input.ng-dirty.ng-valid:focus, .has-success:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}

input.ng-dirty.ng-invalid, input.ng-dirty.has-error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

input.ng-dirty.ng-invalid:focus, input.ng-dirty.has-error:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.jumbotron {
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #26333d;
    margin: 0;
}

.container {
    padding: 0 0 0 8%;
    margin-right: 0;
    margin-left: 0;
    height: 100%;
    width: 100%;
}

.slogan {
    padding: 42px 0 24px;
    font-size: 28px;
    line-height: 36px;
}

.left {
    color: #eee;
    background-color: #26333d;
    height: 100%;
    padding-top: 8%;
}

.right {
    background-color: #6fdaa1;
    color: white;
    padding: 15% 13% 10% 8%;
    height: 100%;
}

.des {
    font-size: 150%;
    margin-top: 20px;
    padding-bottom: 10px;
}

.pic, .logo {
    text-align: center;
    width: 55px;
    margin-right: 20px;
    display: inline-block;
    filter: invert(100%);
}

.form-control {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    box-shadow: none;
    height: 45px;
    border-radius: 0;
    border-width: 3px;
}

.btn-primary, .btn-default {
    color: #3cdf93;
    background-color: #fff;
    border-color: #fff;
    border-radius: 0;
}

.btn-primary[disabled] {
    color: #3cdf93;
    background-color: #fff;
    border-color: #fff;
}

.btn-link {
    color: #fff;
}

input[type=radio] {
    margin-right: 5px;
    margin-left: 5px;
}
