<div class="timeline">
    <div class="record">
        <div class="date">OCT 9</div>
        <div class="content">
            <div class="food">
                <div class="wrap">
                    <table>
                        <caption>Food</caption>
                        <tr>
                            <td>egg</td>
                            <td>*1</td>
                            <td>116KCal</td>
                        </tr>
                        <tr>
                            <td>egg</td>
                            <td>*1</td>
                            <td>116KCal</td>
                        </tr>
                        <tr>
                            <td>egg</td>
                            <td>*1</td>
                            <td>116KCal</td>
                        </tr>
                        <tr>
                            <td>egg</td>
                            <td>*1</td>
                            <td>116KCal</td>
                        </tr>
                        <tr>
                            <td>egg</td>
                            <td>*1</td>
                            <td>116KCal</td>
                        </tr>
                        <tr>
                            <td>egg</td>
                            <td>*1</td>
                            <td>116KCal</td>
                        </tr>
                        <tr>
                            <td>egg</td>
                            <td>*1</td>
                            <td>116KCal</td>
                        </tr>
                        <tr>
                            <td>egg</td>
                            <td>*1</td>
                            <td>116KCal</td>
                        </tr>
                        <tr>
                            <td>egg</td>
                            <td>*1</td>
                            <td>116KCal</td>
                        </tr>
                        <tr>
                            <td>egg</td>
                            <td>*1</td>
                            <td>116KCal</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="exercise">
                <div class="wrap">
                    <table>
                        <caption>Exercise</caption>
                        <tr>
                            <td>egg</td>
                            <td>*1</td>
                            <td>116KCal</td>
                        </tr>
                        <tr>
                            <td>egg</td>
                            <td>*1</td>
                            <td>116KCal</td>
                        </tr>
                        <tr>
                            <td>egg</td>
                            <td>*1</td>
                            <td>116KCal</td>
                        </tr>
                        <tr>
                            <td>egg</td>
                            <td>*1</td>
                            <td>116KCal</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
