<form role="form" name="form" id="upload-record-form" class="form-to-update">
    <div class="form-top">
        <h2>Record Your Health</h2>
    </div>
    <div class="form-bottom">
        <div class="record">
            <div class="form-group date">
                <p class="input-group">
                    <input type="text" class="form-control" placeholder="Date (yyyy-mm-dd)" uib-datepicker-popup ng-model="record.date" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="datetimepicker btn btn-primary" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="content">
                <div class="food">
                    <div class="caption">Food</div>

                    <div class="timeline-wrap">
                        <table class="example-animate-container">
                            <tr class="animate-repeat" ng-repeat="food in record.foodList">
                                <td>
                                    <select class="table-select" ng-model="food.food_category" required>
                                        <option value="" selected disabled hidden>Category</option>
                                        <option ng-repeat="option in foodOptions" value="{{option}}">{{option}}</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="table-input" id="food-amount" ng-model="food.food_amount" placeholder="Food Amount" required>
                                </td>
                                <td>
                                    <div class="remove" ng-click="deleteFood($index)">X</div>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="round-button"><div class="round-button-circle"><a ng-click="addFood()" class="round-button">+</a></div></div>

                </div>

                <div class="exercise">
                    <div class="caption">Exercise
                    </div>
                    <div class="timeline-wrap">
                        <table class="example-animate-container">
                            <tr class="animate-repeat" ng-repeat="exercise in record.exerciseList">
                                <td>
                                    <select class="table-select" ng-model="exercise.exercise_category" required>
                                        <option value="" selected disabled hidden>Category</option>
                                        <option ng-repeat="option in exerciseOptions" value="{{option}}">{{option}}</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="table-input" id="exercise-amount" ng-model="exercise.exercise_time" placeholder="Exercise Time" required>
                                </td>
                                <td>
                                    <div class="remove" ng-click="deleteExercise($index)">X</div>
                                </td>

                            </tr>
                        </table>

                    </div>
                    <div class="round-button"><div class="round-button-circle"><a ng-click="addExercise()" class="round-button">+</a></div></div>

                </div>

            </div>
        </div>
    </div>
    <div class="form-actions">
        <button type="button" ng-disabled="form.$invalid || record.foodList.length+record.exerciseList.length==0" class="btn btn-primary btn-green" ng-click="updateRecord()">Update</button>
        <a class="btn btn-link" ng-click="changeSelection('timeline')">Cancel</a>
    </div>
</form>
