<div class="timeline">
    <div class="record" ng-animate="'animate'" ng-repeat="record in recordList">
        <div class="date">{{record.date.toLocaleDateString('en-GB', { day : 'numeric', month : 'short', year : 'numeric' })}}
        </div>
        <div class="content">
            <div class="food">
                <div class="caption">Food</div>
                <div class="timeline-wrap">
                    <table>
                        <tr ng-repeat="food in record.foodList">
                            <td><img ng-src="/dva-mvn/static/img/{{($index)%8+1}}.png"></td>
                            <td>{{food.food_category}}</td>
                            <td><span class="prefix">*</span> {{food.food_amount}} <span class="unit">g</span></td>
                            <td>{{food.food_calorie}} <span class="unit">KCal</span></td>
                        </tr>
                    </table>
                </div>

            </div>

            <div class="exercise">
                <div class="caption">Exercise
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="deleteRecord(record.date)"></span></div>
                <div class="timeline-wrap">
                    <table>
                        <tr ng-repeat="exercise in record.exerciseList">
                            <td><img ng-src="/dva-mvn/static/img/{{($index)%16+11}}.png"></td>
                            <td>{{exercise.exercise_category}}</td>
                            <td><span class="prefix">*</span> {{exercise.exercise_time}} <span class="unit">min</span></td>
                            <td>{{exercise.exercise_calorie}} <span class="unit">KCal</span></td>
                        </tr>
                    </table>
                </div>
                <span class="glyphicon glyphicon-edit" aria-hidden="true" ng-click="editRecord(record)"></span>
            </div>
        </div>
    </div>
</div>
