<form role="form" name="form" id="update-form">
    <div class="form-top">
        <h2>Record Your Health</h2>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <button type="button" class="btn btn-primary" ng-click="updateProfile()">Update</button>
        <a class="btn btn-link" ng-click="changeSelection('timeline')">Cancel</a>
    </div>
</form>
