<form role="form" name="form" id="upload-record-form" class="form-to-update">
    <div class="form-top">
        <h2>Record Your Health</h2>
    </div>
    <div class="form-bottom">
        <div class="record">
            <div class="form-group date">

                <p class="input-group">
                    <input type="text" name="date" class="form-control" placeholder="Date (yyyy-mm-dd)" uib-datepicker-popup ng-model="user.birthdayUpdate" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="datetimepicker btn btn-primary" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="content">
                <div class="food">
                    <div class="caption">Food
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </div>

                    <div class="timeline-wrap">
                        <table>
                            <tr>
                                <td>
                                    <select name="food_category" id="food_category" ng-model="food_category">
                                        <option ng-repeat="option in foodOptions" value="{{option.id}}">{{option.name}}</option>
                                    </select>
                                </td>
                                <td>Amount</td>
                            </tr>
                            <tr>
                                <td><img src="/dva-mvn/static/img/2.png"></td>
                                <td>egg</td>
                                <td>*1</td>
                                <td>116KCal</td>
                            </tr>
                            <tr>
                                <td><img src="/dva-mvn/static/img/3.png"></td>
                                <td>egg</td>
                                <td>*1</td>
                                <td>116KCal</td>
                            </tr>
                            <tr>
                                <td><img src="/dva-mvn/static/img/4.png"></td>
                                <td>egg</td>
                                <td>*1</td>
                                <td>116KCal</td>
                            </tr>
                            <tr>
                                <td><img src="/dva-mvn/static/img/5.png"></td>
                                <td>egg</td>
                                <td>*1</td>
                                <td>116KCal</td>
                            </tr>
                            <tr>
                                <td><img src="/dva-mvn/static/img/6.png"></td>
                                <td>egg</td>
                                <td>*1</td>
                                <td>116KCal</td>
                            </tr>
                            <tr>
                                <td><img src="/dva-mvn/static/img/7.png"></td>
                                <td>egg</td>
                                <td>*1</td>
                                <td>116KCal</td>
                            </tr>
                            <tr>
                                <td><img src="/dva-mvn/static/img/8.png"></td>
                                <td>egg</td>
                                <td>*1</td>
                                <td>116KCal</td>
                            </tr>
                            <tr>
                                <td><img src="/dva-mvn/static/img/1.png"></td>
                                <td>egg</td>
                                <td>*1</td>
                                <td>116KCal</td>
                            </tr>
                            <tr>
                                <td><img src="/dva-mvn/static/img/2.png"></td>
                                <td>egg</td>
                                <td>*1</td>
                                <td>116KCal</td>
                            </tr>
                        </table>
                    </div>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </div>

                <div class="exercise">
                    <div class="caption">Exercise
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                    <div class="timeline-wrap">
                        <table>
                            <tr>
                                <td><img src="/dva-mvn/static/img/11.png"></td>
                                <td>egg</td>
                                <td>*1</td>
                                <td>116KCal</td>
                            </tr>
                            <tr>
                                <td><img src="/dva-mvn/static/img/13.png"></td>
                                <td>egg</td>
                                <td>*1</td>
                                <td>116KCal</td>
                            </tr>
                            <tr>
                                <td><img src="/dva-mvn/static/img/18.png"></td>
                                <td>egg</td>
                                <td>*1</td>
                                <td>116KCal</td>
                            </tr>
                            <tr>
                                <td><img src="/dva-mvn/static/img/19.png"></td>
                                <td>egg</td>
                                <td>*1</td>
                                <td>116KCal</td>
                            </tr>
                        </table>

                    </div>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </div>

            </div>
        </div>
    </div>
    <div class="form-actions">
        <button type="button" class="btn btn-primary" ng-click="updateProfile()">Update</button>
        <a class="btn btn-link" ng-click="changeSelection('timeline')">Cancel</a>
    </div>
</form>
