<form role="form" name="form" id="figure-form">
	<div class="form-group half">
		<label for="starttime">Start time</label>
		<p class="input-group">
			<input type="text" name="starttime" class="form-control"
				placeholder="Start time (yyyy-mm-dd)" uib-datepicker-popup
				ng-model="figure.starttime" is-open="popup1.opened"
				datepicker-options="dateOptions" ng-required="true"
				close-text="Close" /> <span class="input-group-btn">
				<button type="button" class="datetimepicker btn btn-primary"
					ng-click="open1()">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</p>
	</div>
	<div class="form-group half">
		<label for="endtime">End time</label>
		<p class="input-group">
			<input type="text" name="endtime" class="form-control"
				placeholder="End time (yyyy-mm-dd)" uib-datepicker-popup
				ng-model="figure.endtime" is-open="popup2.opened"
				datepicker-options="dateOptions" ng-required="true"
				close-text="Close" /> <span class="input-group-btn">
				<button type="button" class="datetimepicker btn btn-primary"
					ng-click="open2()">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</p>
	</div>
	<div>
		<button type="button" class="btn btn-primary btn-green"
			ng-click="DrawFigure()">Confirm</button>
	</div>
</form>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<!-- <div id="main" style="width: 600px; height: 400px;"></div> -->
<div id="container" style="height: 600px; height: 400px;"></div>
