<div class="global">
    <div class="side">
        <div class="face">
            <img src="/dva-mvn/static/img/user.png">
        </div>
        <div class="nick">
            {{user.username}}
        </div>
        <div class="rating">
            <label>Fitness Rating</label>
            <div class="grade">
                <span>S</span>
                <span>A</span>
                <span>B</span>
                <span>C</span>
                <span>F</span>
            </div>
        </div>
        <div class="profile">
            <div class="info age">
                <span>Age:</span>
                <span>{{user.age}}</span>
            </div>
            <div class="info height">
                <span>Height:</span>
                <span>{{user.height}}</span>
            </div>
            <div class="info weight">
                <span>Weight:</span>
                <span>{{user.weight}}</span>
            </div>
            <div class="info bmi">
                <span>BMI:</span>
                <span>{{user.bmi}}</span>
            </div>
            <div class="info bmr">
                <span>BMR:</span>
                <span>{{user.bmr}}</span>
            </div>
        </div>
        <div class="buttons">
            <a class="btn btn-primary" ng-click="selection='update'">Update</a>
            <a class="btn btn-primary" ng-click="selection='record'">Record</a>
            <a ng-click="logout()" class="btn btn-primary">Logout</a>

        </div>

    </div>


    <div class="main">
        <div class="animate-switch-container" ng-switch on="selection">
            <div class="animate-switch" ng-switch-when="update">
                <ng-include src="'/dva-mvn/html/views/home.update.html'"></ng-include>
            </div>
            <div class="animate-switch" ng-switch-when="timeline">
                <ng-include src="'/dva-mvn/html/views/home.timeline.html'"></ng-include>
            </div>
            <div class="animate-switch" ng-switch-default>
                <ng-include src="'/dva-mvn/html/views/home.timeline.html'"></ng-include>
            </div>
        </div>
    </div>
</div>
