<form role="form" name="form" id="update-profile-form" class="form-to-post">
    <div class="form-top">
        <h2>Update profile</h2>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <label for="userId_L">Username</label>
            <input type="text" name="userId" class="form-control" id="userId" ng-model="user.nameUpdate" placeholder="Username">
        </div>

        <div class="form-group">
            <label for="password_L">Password</label>
            <input type="password" name="password" class="form-control" id="password" ng-model="user.passwordUpdate" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679; ">
        </div>

        <div class="form-group">
            <label>Sex</label>
            <input type="radio" id="square-radio-1" name="sex" ng-model="user.sexUpdate" value="male">Male
            <input type="radio" id="square-radio-2" name="sex" ng-model="user.sexUpdate" value="female">Female
        </div>
        <label for="height">Birthday</label>
        <div class="form-group">

            <p class="input-group">
                <input type="text" name="birthday" class="form-control" placeholder="Birthday (yyyy-mm-dd)" uib-datepicker-popup ng-model="user.birthdayUpdate" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="datetimepicker btn btn-primary" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>

        <div class="form-group">
            <label for="height">Height</label>
            <input type="text" name="height" class="form-control" id="height" ng-model="user.heightUpdate" placeholder="Height (meter)">
        </div>

        <div class="form-group">
            <label for="weight">Weight</label>
            <input type="text" name="weight" class="form-control" id="weight" ng-model="user.weightUpdate" placeholder="Weight (kg)">
        </div>


    </div>
    <div class="form-actions">
        <button type="button" class="btn btn-primary" ng-click="updateProfile()">Update</button>
        <a class="btn btn-link" ng-click="changeSelection('timeline')">Cancel</a>
    </div>
</form>
